.sm-event-image {
  height: 165px;

  img {
    object-fit: cover;
    width: 100%;
    height: 165px !important;
  }
}

.sm-event-content {
  text-align: left !important;
  height: 170px;
  padding: 0 20px 0px !important;

  form {
    display: none;
  }
}

.sm-event-post-content img {
  display: none;
}

.sm-event-post-content p,
.sm-event-post-content {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5em;
  max-height: 3em;
  font-size: 9pt !important;
}

.sm-event-title {
  display: inline-flex;
  margin-top: 30px !important;

  .event-color {
    margin-top: 6px;
    width: 10px;
    height: 10px;
    min-width: 10px;
    min-height: 10px;
  }

  a {
    text-transform: none;
    font-size: 11pt;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    line-height: 1.5em;
    max-height: 1.5em;
    letter-spacing: 0;
  }
}

.sm-event-sharing-wrap {
  display: none;
}

.sm-event-footer {
  background: #ffffff;
  border-top: none;
  min-height: 80px;
}

.sm-event-date-wrapper {
  letter-spacing: 0 !important;
  text-transform: none !important;
  background-color: #f9f9f8 !important;
  color: #2d5c88 !important;
  border-bottom: 1px solid #e3e3e3 !important;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.3em;
  align-items: stretch;
  margin: 0 -20px 0 -20px !important;
  padding: 3px 10px !important;
  text-align: left !important;
}

.sm-booking-button {
  right: auto !important;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.05) !important;
  top: 20px !important;
}

.sm-event-article {
  box-shadow: none !important;
  border: 1px solid #e3e3e3 !important;
}

.sm-event-date {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.sm-event-date-top {
  margin-top: 3px;
  line-height: 1.7em;
}

.sm-event-date-num {
  font-size: 12pt;
}

.sm-event-date-month {
  font-size: 7pt;
  color: #202020;
}

.sm-event-loc {
  flex: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  align-items: center;
  display: flex;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  justify-content: center;
}

.sm-location-pin {
  font-size: 11pt;
  margin-right: 4px;
}

.sm-loc-header {
  font-size: 7pt;
}

.sm-loc-body {
  font-size: 6pt;
}

.sm-loc-text {
  color: #202020;
  text-align: left;
}

.mec-search-form {
  .mec-dropdown-wrap {
    display: flex !important;
    flex-wrap: wrap;

    .mec-dropdown-search {
      flex: 1 0 200px;
      padding: 0 !important;
    }

    .mec-date-search {
      flex: 1 0 200px;
      padding: 0 !important;
    }
  }
}

.mec-wrap {
  .mec-totalcal-box i {
    background: none;
    border: none;
    color: #2d5c88 !important;
  }

  .mec-totalcal-box {
    background: none;
    border: none;
  }
}

.mec-event-footer .mec-booking-button:hover {
  background: #2d5c88;
  color: #fff;
  border-color: #2d5c88;
}
