.mec-single-event {
  .mec-single-event-category {
    a.mec-color-hover {
      pointer-events: none;
      cursor: default;
      text-decoration: none;

      i.mec-fa-angle-right {
        display: none;
      }
    }
  }
}
